:root {
    --font-family: "Atyp Display", sans-serif;
    --second-family: "Manrope", sans-serif;

    --accent-color: #ff3853;

    --header-min-height: 80px;
    --footer-min-height: 80px;
    --container-width: 1580px;

    --glow-effect-param: 435px;
}